.features {
  @media screen and (min-width: 1200px) {
    margin-bottom: -94px;
  }
}
.features-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.features-list__item {
  @media screen and (min-width: 768px) {
    @include grid(2);
  }
  @media screen and (min-width: 1200px) {
    @include grid(4);
  }
  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}

.features-list__thumb {
  @include centeredFlex();
  height: 120px;
  margin-bottom: 30px;

  background-color: getColorLight("light-bg");
  border-radius: 4px;
}
.features-list__title {
  margin-bottom: 10px;

  font-weight: bold;
  @include regularText();
  text-align: center;
  text-transform: uppercase;

  color: getColorDark("secondary");

  @media screen and (min-width: 768px) {
    text-align: start;
  }
}
.features-list__text {
  @include regularText($l-h: 1.71em);
}
