.logo--header {
    margin-right: 70px;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #000;
    padding-top: 24px;
    padding-bottom: 24px;
    text-decoration: none;
  }

.logo--footer {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #ffffff;
    // text-align: left;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
  }

  .logo--accent {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: #2196f3;
  }

