.logo {
  display: inline-block;
  font-family: "Raleway", "Verdana", sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
  color: getColorAccent("accent-primary");
}
.logo__text {
  color: getColorDark("secondary");
}
.logo__text--inverse {
  color: getColorLight("light");
}
