.modal-container {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 94px 15px;
  overflow-y: scroll;

  background-color: getColorDark("maxDark-opacity30");
  opacity: 1;
  visibility: visible;

  @include Animation(opacity, visibility);
}
.modal-container--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: relative;

  padding: 40px;

  background-color: getColorLight("light");
  box-shadow: 0px 1px 3px getColorDark("maxDark-opacity12"),
    0px 1px 1px getColorDark("maxDark-opacity14"),
    0px 2px 1px getColorDark("maxDark-opacity30");
  border-radius: 4px;

  @include Animation(transform);

  @media screen and (min-width: 480px) {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 450px;
    width: 100%;

    transform: translate(-50%, -50%) scale(1);
  }

  @media screen and (min-width: 568px) and (orientation: landscape) and (max-width: 915px) {
    top: 90%;
  }

  @media screen and (min-width: 1200px) {
    max-width: 528px;
  }

  .modal-container--is-hidden & {
    transform: translate(-50%, -50%) scale(1.1);
  }
}
.circle-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid getColorDark("maxDark-opacity10");
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  @include Animation(fill);

  &:hover,
  &:focus {
    fill: getColorAccent("accent-primary");
  }
}
.modal__title {
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15em;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-align: center;

  color: getColorDark("secondary");

  @media screen and (min-width: 1200px) {
    line-height: 1.5em;
  }
}

// Feedback form
.form__group,
.form__comment {
  position: relative;

  display: block;
  margin-bottom: 10px;

  font-size: 12px;
  line-height: 1.167em;
  letter-spacing: 0.01em;
}

.form__icon-box {
  position: relative;

  margin-top: 4px;
}
.form-control {
  width: 100%;

  color: getColorDark("secondary");
  border: 1px solid getColorDark("avgDark-opacity20");
  border-radius: 4px;

  @include Animation(outline-color, border);

  &:focus {
    outline-color: getColorAccent("accent-primary");
    border: 1px solid getColorAccent("accent-primary");
  }
}
.form__input {
  height: 40px;
  padding-left: 42px;

  font-size: 12px;
}
.form__textarea {
  display: block;
  padding: 12px 16px;

  font-size: 12px;
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  width: 18px;
  height: 18px;

  fill: getColorDark("secondary");

  transform: translateY(-50%);
  @include Animation(fill);

  .form__group:focus-within & {
    fill: getColorAccent("accent-primary");
  }
}
.form__comment {
  display: block;
  margin-bottom: 20px;
}
.form__textarea {
  height: 120px;

  resize: none;

  &::placeholder {
    @include regularText($l-s: 0.01em);

    color: getColorDark("minDark-opacity50");
  }
}
.form__checkbox {
  margin-bottom: 30px;
}
.form__label-checkbox {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 12px;
  line-height: 1.17em;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    @include regularText($l-h: 1.71em);
  }
}
.form__icon-checkbox {
  @include centeredFlex();
  width: 16px;
  height: 15px;

  border: 2px solid getColorDark("secondary");
  border-radius: 2px;

  @include Animation(border, background-color);

  .form__input-checkbox:focus + & {
    outline: 1px solid getColorAccent("accent-primary");
  }
  .form__input-checkbox:checked + & {
    border: 0;
    border-color: getColorAccent("accent-primary");
    background-color: getColorAccent("accent-primary");
  }
}
.form__icon-checkbox--left {
  margin-right: 8px;
}
.form__link-checkbox {
  text-decoration: underline;
  text-decoration-skip-ink: none;

  color: getColorAccent("accent-primary");

  @include Animation(outline-offset);

  @media screen and (min-width: 368px) and (max-width: 477px) {
    margin-left: 25px;
  }

  &:hover,
  &:focus {
    outline-offset: -1px;
    animation-name: ChangeColor;
    animation-duration: 250ms;
    animation-timing-function: $timing-function;
  }
}
@keyframes ChangeColor {
  0% {
    color: getColorAccent("accent-primary");
  }
  50% {
    color: getColorDark("theme");
  }
  100% {
    color: getColorAccent("accent-primary");
  }
}
.form__button {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 55px;
}

.thanks-message {
  z-index: 10;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: fit-content;
  height: auto;
  padding: 36px;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  color: black;
  font-size: 32px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @media screen and (min-width: 1200px) {
    font-size: 48px;
  }
}

.thanks-message--show {
  opacity: 1;
}
