.modal__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    // z-index: 3;
    /* transition-property: visibility; */
    transition-duration: var(--duration);
    transition-timing-function: var(--function);
    transition: opacity 250ms var(--function);
    
    &--is-hidden {
      /* visibility: hidden; */
      opacity: 0;
      pointer-events: none;
    }
  }

  .modal__backdrop.is-hidden {
    /* visibility: hidden; */
    opacity: 0;
    pointer-events: none;
  }
  
  .modal__backdrop.is-hidden > .modal {
    opacity: 0;
    transform: translate(-50%, -50%) scale(2.9);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 581px;
    transform: translate(-50%, -50%) scale(1);
    background-color: var(--main-title-color);
    // min-height: 581px;
    // min-width: 528px;
    opacity: 1;
    padding: 40px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transition-property: opacity, transform;
    transition-duration: var(--duration);
    transition-timing-function: var(--function);

    @media screen and (min-width: 1200px) {
      width: 528px;
    }
  }

  .modal__heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--third-text-color);
    margin-bottom: 12px;
  }
  
  .modal__form {
    width: 370px;

    @media screen and (min-width: 1200px) {
      width: 448px;
    }
  }
  
  .modal__thumb {
    margin-bottom: 10px;
  }
  
  .modal__label {
    margin-bottom: 10px;
    color: $first-text-color;
  }
  
  .modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    outline: none;
    transition-property: border;
    transition-duration: var(--duration);
    transition-timing-function: var(--function);

    &:focus {
      border-color: $accent-color;
    }
  }

  
  .modal__input:focus + .icon__modal-img {
    fill: var(--accent-color);
  }
  
  .modal__icon {
    position: relative;
  }

  .modal__thumb-textarea {
    margin-bottom: 20px;
  }
  
  .modal__area {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    outline: none;
    transition-property: border-color;
    transition-duration: var(--duration);
    transition-timing-function: var(--function);

    &:focus {
      border-color: $accent-color;
    }
  }
  
  .modal__area::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  .modal__checkbox {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .modal__policy {
    font-size: 12px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--first-text-color);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1200px) {
      font-size: 14px;
    }
  }
  
  .modal__policy span {
    width: 16px;
    height: 15px;
    border: 1px solid #000000;
    border-radius: 2px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: var(--animation-duration);
    transition-timing-function: var(--animation-timing);
  }
  
  .modal__policy span:hover,
  .modal__checkbox-input:focus + .modal__policy span {
    border: 2px solid #000000;
  }

  .modal__checkbox-input:checked + .modal__policy span {
    background-color: var(--accent-color);
    border: 0;
  }
  
  .modal__checkbox-input:checked + .modal__policy .icon-check {
    fill: var(--main-title-color);
  }
  
  .modal__link {
    color: var(--accent-color);
    text-decoration-skip-ink: none;
  }

  .modal-button {
    text-align: center;
  }
  
  .modal-button__btn {
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
    width: 200px;
    height: 50px;
    color: var(--main-title-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
  }