.team-section--bg-color {
  background-color: getColorLight("light-bg");
}
.team {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.team__item {
  container-type: inline-size;
  background-color: getColorLight("light");
  box-shadow: 0px 1px 3px getColorDark("maxDark-opacity12"),
    0px 1px 1px getColorDark("maxDark-opacity14"),
    0px 2px 1px getColorDark("maxDark-opacity30");
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    @include grid(2);
  }
  @media screen and (min-width: 1200px) {
    @include grid(4);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
}
.team__label {
  padding-top: 30px;
  padding-bottom: 24px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}
.team__name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-align: center;

  color: getColorDark("secondary");

  @container (width >= 400px) {
    font-size: 18px;
  }
}

.team__content {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19em;
  letter-spacing: 0.03em;
  text-align: center;
}
