@mixin centeredFlex($d-type: flex, $a-items: center, $j-content: center) {
  display: $d-type;
  align-items: $a-items;
  justify-content: $j-content;
}
@mixin grid($value, $margin: 15px) {
  flex-basis: calc(100% / #{$value} - #{$margin} * 2);
  margin: $margin;
}
@mixin regularText($l-h: 1.14em, $l-s: 0.03em) {
  font-size: 14px;
  line-height: $l-h;
  letter-spacing: $l-s;
}
@mixin background {
  background-repeat: no-repeat;
  background-position: center;
}

@mixin Animation($properties...) {
  transition: 300ms $timing-function;
}
// hover, focus on links (header, social)

// @each $name in navbox__link, authnav__link, social__link {
//   .#{$name}:focus,
//   .#{$name}:hover {
//     color: getColorAccent("accent-primary");
//   }
// }
